$light-grey: #D3D6DC;
$drop-grey: #C7C7C7;
$badge-grey: #F1F2F6;
$medium-grey: #888CA9;
$dark-grey: #212529;
$background-grey: #f4f7fb;
$dark-text-grey: #3F4457;
$light-grey-text: #A9B0BE;
$light-grey-text2: #D3D6DC;
$light-grey-text3: #DFE1E6;
$white: #ffffff;
$red: #FE2626;
$faded-red: #F7E1E1;
$faded-purple: #F2E6FF;
$purple: #8F23FE;
$faded-yellow: #F4EEBD;
$faded-blue: #DBFAFF;
$green: #0FCB5A;
